{% extends 'base.html' %}

{% comment %} for head title tags and helping us with SEO {% endcomment %}
{% block title %}Acitvity Levels{% endblock  %}

{% block content %}

<h1 class="title pt-5">Levels of Acitvity</h1>
<div class="gallery">
  {% for acitivty in activitieslevel %}
  <a href="">
    <div class="card">
      <div class="card-image">
        <figure class="image is-square">
          <img src="{{activity.image}}" alt="{{activity.name}}" />
        </figure>
      </div>
      <div class="card-header">
        <p class="card-header-title">{{activity.name}}</p>
      </div>
    </div>
  </a>
	{% empty %}
  <article class="message">
    <div class="message-header">
      <p>No Levels Available</p>
    </div>
  </article>
  {% endfor %}
</div>
{% endblock %}