{% extends 'base.html' %} {% block content %}

<h1 class="title">Breeds</h1>

<form class="mb-5" method="get">
  <div class="field has-addons">
    <div class="control">
      <!--  Our input will search by name of breed  -->
      <input class="input" type="text" name="name" placeholder="name" />
    </div>
    <div class="control">
      <input class="button is-success" type="submit" value="Search" />
    </div>
  </div>
  <!--  This anchor tag will redirect back to breed list without a query param -->
  <a class="button is-dark" href="{% url 'breeds_list' %}">Clear Search</a>
</form>
<div class="gallery">
  {% for breed in breeds %}
  <a href="">
    <div class="card">
      <div class="card-image">
        <figure class="image is-square">
          <img src="{{breed.img}}" alt="{{breed.name}}" />
        </figure>
      </div>
      <div class="card-header">
        <p class="card-header-title">{{breed.name}}</p>
      </div>
    </div>
  </a>
  {% endfor %}
</div>

{% endblock %}